body{
  	background-color:#FFF8C6;  
 	background-color:#F5FFFA;
	line-height:24px;	
	color:#333333;
	font-family:"Palatino";
	text-align:center;
}
h1{
	text-align:center;
	font-style:italic;
}
h3{
	text-align:center;
	color:#171717;
}
#table1{
	margin:auto;
	text-align:left;
}	
