body{
 	background-color:#F5FFFA;
	line-height:24px;	
	color:#333333;
	font-family:"Palatino";
}
#v1{
	width:100%;
	right:10px;
	text-align:right;
	bottom:26px;
	position:fixed;
	display:none;
	}
#vCurrent{
/* 	margin-left:49%; */
/* 	text-align:center; */
	z-index:1;
 	text-align:right; 
	bottom:4px;
	right:10px;
	position:fixed;	
	color:#609;
	text-decoration:underline;
	cursor:pointer;
}
	
#compatible{
	position:fixed;
	margin:0;
	bottom:4px;	
	text-align:center;
	width:100%;
}
	